{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class= 'date'>
                <p class = 'postTitle'> <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></p>
                <i class = 'postDate'> {{ post.published_date }} </i>   
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="comm-number">
                <a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.comments.count }}</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}