body{
    padding-left: 15px;
    background-color: #DFE0E2;
}

.page-header {
    background-color: #23B5D3 ;
    border-bottom: 4px solid #75ABBC;
    margin-top: 0;
    padding: 3px 10px 10px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #0B191E;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1{
    font-family: 'Dancing Script', cursive;
}

h2, h3, h4 {
    font-family: 'Alata', sans-serif;;
}

.date {
    color: #828282;
    display: flex !important;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #0B191E;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    margin-top: 31px;
}

.post {
    margin-bottom: 70px;
}

h2.post{
    color: #0B191E;
    background-color: #A2AEBB;
}

p.top-menu, p.top-menu:hover {    
    color: #0B191E;
    font-size: 15pt;
    margin-top: 35px;
    font-famil'
    y: 'Alata', sans-serif;
}

.postTitle{
    font-size: 30px;
    align-self: center;
}

.postDate{
    align-self: center;
    margin-left: 20px;
}